                                      Блок 1: Теория вероятности и логика

Задание 1: Фермер
На ферме содержатся шесть разных видов животных, и каждый раз, когда фермер заходит в сарай, он видит одно случайное животное. За день фермер заходит в сарай 6 раз.
Каково математическое ожидание количества разных видов животных, которые фермер увидит за день?

Ответ:

Вероятность не увидеть один вид животного = 5/6 = 0,83

Вероятность увидеть его за 6 заходов = 1 - (5/6^6) = 0,665

Математическое ожидание = 0,665*6 = 3,99

Задание 2: Кулинарное соревнование
В конкурсе участвуют 80 шеф-поваров с уникальными уровнями мастерства. В первом этапе судьи случайным образом распределяют их по парам 
(в любом состязании двух шефов выигрывает тот, у кого выше уровень мастерства). На втором этапе шефы снова случайно образуют пары для финального раунда 
(пары могут повториться). Победную награду получают те, кто выиграл в обоих этапах.
Каково математическое ожидание числа победителей?

Ответ:

Вероятность победить в первом раунде = 1/2

Вероятность победить во втором раунде = 1/2

Вероять победить и  в первом и во втором раунде = 1/2*1/2

Математическое ожидание = 0,25 * 80 = 20

Задание 3: Одинокая дорога
На пустынном шоссе вероятность появления автомобиля за 30-минутный период составляет 0.95.
Какова вероятность его появления за 10 минут? А за 27 минут?

Ответ:

Вероятность не появления за 30 минут = 1 - 0,95 = 0,05

Вероятность не появления за 10 минут = 0,05^(10/30) = 0,368

Вероятность появления за 10 минут = 1 - 0,368 = 0,63

Вероятность появления за 27 минут = 1 -(0,05^(27/30)) = 0,93

                                                    Блок 2: Python

Задание 1: Изоморфизмы

Реализовать функцию (или тело функции), которая проверяет на изоморфность два слова. Пояснение: строки s и t называются изоморфными, если все вхождения 
каждого символа строки s можно последовательно заменить другим символом и получить строку t.Порядок символов при этом должен сохраняться, 
а замена быть уникальной. Так, два разных символа строки s нельзя заменить одним и тем же символом из строки t, 
а вот одинаковые символы в строке s должны заменяться одним и тем же символом.

In [11]:
#Ответ
s = 'paper'
t = 'title'
def isomorf(s,t):
    if len(s) != len(t):
        return False 
    mapp_s_t = {}
    mapp_t_s = {}
    for c1, c2 in zip(s,t):
        if c1 in mapp_s_t:
            if mapp_s_t[c1] != c2:
                return False
        else:
            if c2 in mapp_t_s:
                return False
            mapp_s_t[c1] = c2
            mapp_t_s[c2] = c1
            return True 

isomorf(s,t)

#время и память линейно зависят от размера выборки

True

Задание 2: Натуральная последовательность

Реализовать функцию (или тело функции), которая находит единственное отсутствующее число из последовательности натуральных чисел 1,2,…,n.

In [12]:
#Ответ
nums = [1,2,3,4,5,6,8,9,10,11]
mis = []
for i in range(len(nums)-1):
    if nums[i +1] != nums[i]+1:
        mis.append(nums[i] +1,)
mis
#время и память линейно зависят от размера выборки

[7]

Задание 3: Факторизация

Реализовать функцию (или тело функции), которая при введении натурального числа n разбивает его на простые множители 
(представить его в виде простых чисел).

In [13]:
#Ответ 
n = 70
d = 2 
lis = []
while n > 1:
    if n % d == 0:
        lis.append(d)
        n = n//d
    else:
        d = d + 1 
lis
#время и память линейно зависят от размера выборки

[2, 5, 7]

                                                                  Блок 3: SQL

Задание 1: Абитуриенты

Есть таблица examination с двумя полями: id (id абитуриента), scores (кол-во набранных баллов дополнительного вступительного испытания от 0 до 100).
Требуется реализовать запрос, который создаёт колонку с позицией абитуриента в общем рейтинге.

#Ответ

select id

    ,score

    ,rank() over (order by score desc) as ranking
from examination

order by ranking asc

Задание 2: FULL JOIN

Представьте две таблицы: первая содержит 30 строк, а вторая — 20 строк. Мы выполняем операцию FULL JOIN между ними.
Какой диапазон возможного количества строк может быть в результирующей таблице, если учесть, что ключи для соединения могут быть как полностью 
совпадающими, так и абсолютно уникальными?

#Ответ 

минимально = 50

максимально = 600

Задание 3: Покупки

create table account

(
    id integer, -- ID счета
    
    client_id integer, -- ID клиента
    
    open_dt date, -- дата открытия счета
    
    close_dt date -- дата закрытия счета
    
)

create table transaction

(
    id integer,  -- ID транзакции
    
    account_id integer,  -- ID счета
    
    transaction_date date,  -- дата транзакции
    
    amount numeric(10,2), -- сумма транзакции
    
    type varchar(3) -- тип транзакции
    
)

Вывести ID клиентов, которые за последний месяц по всем своим счетам совершили покупок меньше, чем на 5000 рублей.

#Ответ 

select client_id

from transaction a 

    join account b

    on a.account_id = b.id

where transaction_date >= date_trunc('month',current_date) - interval '1 month'
    
    and transaction_date < date_trunc('month',current_date)
    
group by client_id
    
having sum(amount) < 5000

                                            Блок 4: Статистика и АБ-тесты

Задание 1: Воодушевленное руководство

Вы – аналитик компании Самокат (сервис по доставке продуктов на дом).

Команда решила протестировать гениальную идею замены транспортного средства доставщиков и провели АБ эксперимент в небольшом городке РФ.
Результаты превзошли все ожидания: время доставки значимо снизилось в несколько раз! Руководству не терпится применить изменения по всей стране.
Делаем? Выберите все верные утверждения:

Ответ:

Наличие эффекта подтвердило потенциал идеи, поэтому сразу применять по всем городам не будем, но можем провести эксперимент в других городах.

Задание 2: Основной показатель в статистике

Что такое p-value в статистическом тестировании? Выберите одно верное утверждение:

Ответ:

Вероятность наблюдения такого или более экстремального результата при условии, что нулевая гипотеза верна.

Задание 3: Параметрический тест

Вам необходимо провести аб-тестирование, целевая метрика - среднее число уникальных покупок на пользователя. Размер выборки велик (более 5 млн наблюдений
в группах теста и контроля), значительные выбросы в выборках отсутствуют.
Можем ли мы применить t-критерий Стьюдента для проверки гипотезы о неравенстве средних в тестовой и контрольной группах при условии,
что распределение уникальных покупок является логнормальным?

Ответ:

Да,можем, несмотря на то, что распределение логнормальное,размер выборки большой и нет значительных выбросов. t-критерий Стьюдента можно применять: средние будут примерно нормально распределены согласно центрально предельной теореме.

                                                        Блок 5: ML Base

Задание 1: Пони тоже кони

Вас просят разработать модель, классифицирующую лошадок и пони. Вместо разработки вы нашли на GitHub две интересные модели и после прогона на ваших 
данных одна из них показала ROC-AUC=0.7, а другая ROC-AUC=0.1. Какую модель вы возьмете для дальнейшей работы и что будете с ней делать?

Ответ:

Я выберу модель с ROC-AUC = 0.7, так как она показывает качество выше случайного и обладает предсказательной силой. 
Далее имеет смысл анализировать признаки, проводить улучшение модели и валидацию на новых данных.
Модель с ROC-AUC = 0.1 существенно хуже случайной и, скорее всего, указывает на проблемы в данных или обучении.

Задание 2: Ручной счёт ROC_AUC

Классификатор выдал следующие прогнозируемые метки класса и вероятности принадлежности к классу "1". 
На основе полученных данных рассчитайте метрику ROC_AUC. Тезисно описать ход решения.

Ответ:

1.Отсортирую все обьекты по оценки вероятности принадлежащие к истинной метке

2.Присвою обьектам ранги в  соотвествии поряка

3.Выберу обьекты первого класса и суммирую их ранги 

4.Подставлю значения в формулу

5.Полученное значение является значением метрики

ROC_AUC = 0.5

Задание 3: Ручной счёт корреляции

Рассчитайте линейную корреляцию Пирсона, на основе данных.
Какой вывод можно сделать на основе полученного результата? Можно ли утверждать, что существует причинно-следственная связь между количеством чашек кофе
выпитых студентами в течение экзаменационного дня, и их итоговым баллом за экзамен?

Ответ:

Коэффициент корреляции Пирсона равен −0,85, что указывает на сильную отрицательную линейную связь между количеством выпитого кофе и баллом за экзамен. 
Однако на основании корреляции нельзя утверждать о наличии причинно-следственной связи между этими величинами.